@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');


body, html{
    @apply h-full w-full bg-[#EAE7DE] p-0 m-0;
}

main{
    @apply bg-inherit relative h-full w-full;
    scroll-behavior: smooth;
}
#collage-image{
    container-type: inline-size
}

*{
    @apply overflow-x-hidden transition duration-1000;
}

.intro-load{
    @apply scale-[1.1];
}
#card-staging > *{
@apply flex-shrink-0 m-1 md:m-4 lg:my-2 w-[150px] md:w-[301px] md:h-[338px];
}

#card-staging svg{
    @apply md:h-[79px] md:w-[79px] h-[40px] w-[40px];
    }

    .border-style{
        @apply h-[100px] mb-5;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .border-style1{
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .border-style2{
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .numbers{
        container-type: inline-size;
    }

    .slide-left{
        @apply -translate-x-[30px] opacity-0;
    }

    .slide-right{
        @apply translate-x-[30px] opacity-0;
    }

    .just-opacity{
        @apply opacity-0;
    }

